<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="{{ url_for('static',filename='style.css')}}">
</head>
<body>
    <h1 style="text-align: center;">Index page</h1>
    <a href="/sec">Submit</a>
    <img src="{{url_for('static',filename='1.jpg')}}" alt="" width="200px" height="200px">

    <h5>Register</h5>
    <form action="" method="post">
    <input type="text" name="name" id="" placeholder="name"> <br>
    <input type="number" name="age" id="" placeholder="Age"> <br>
    <input type="submit" value="Submit">
    </form>
</body>
</html>